<cfe-header [showCloseBtn]="true" [hidenotification]="true" (onCloseClick)="close()" [showMenuBtn]="false" [showBackBtn]="false"  [title]="'Informazioni aggiuntive'"></cfe-header>

<ion-content>
  <ion-grid fixed>

    <ion-row justify-content-center>
      <ion-col col-12>
        <div padding>
          <ion-item>
            <ion-label>{{info?.name}} {{info?.surname}} </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="location-outline"></ion-icon>
            <ion-label>{{info?.shippingaddress}}</ion-label>
          </ion-item>
          <ion-item *ngFor="let contact of info?.contacts">

            <ion-icon *ngIf="contact.typecode==='PNE'" style="margin-right: 1em;" name="call-outline"></ion-icon>
            <ion-icon *ngIf="contact.typecode==='ADR'" style="margin-right: 1em;" name="location-outline">
            </ion-icon>
            <ion-icon *ngIf="contact.typecode==='EMA'" style="margin-right: 1em;" name="mail-outline"></ion-icon>
            {{contact.value}}
          
        </ion-item>

        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button slot="end" (click)="close()">CHIUDI</ion-button>
   
  </ion-toolbar>
</ion-footer>