
<cfe-header  [title]="'Altre foto'"></cfe-header>

<ion-content>
    <cfe-camera [mode]="cameramode" [label]="'Aggiungi foto'" (onTakePhoto)="PhotoCaptured($event)"></cfe-camera>
    <ion-list>
        <ion-list-header>

        </ion-list-header>

        <ion-item *ngFor="let photo of ad?.photos">

          <ion-avatar slot="start">
            <img [src]="this.enviromentPath + photo.path">
          </ion-avatar>
          <ion-icon slot="end" name="trash-outline" (click)="delete(photo.id)"></ion-icon>
        </ion-item>
    </ion-list>

</ion-content>
