ion-button{
    width: 45px;
    height: 45px;
    font-size: medium;
    border-radius: 9em;
    border-width: 2px;
    border-style: solid;
    border-color: grey;
    font-weight: bold;
    box-sizing: border-box;
}

