<div [formGroup]="form">
  <label [attr.for]="question.key" [hidden]="question.hidden">{{question.label}}</label>

  <div [ngSwitch]="question.controlType">

    <ion-input *ngSwitchCase="'textbox'" [formControlName]="question.key"
            [id]="question.key" [type]="question.type"    [hidden]="question.hidden"> 
          
          </ion-input>


            <ion-item  *ngSwitchCase="'imageUpload'">

              <ion-avatar *ngIf="!fileChanged" >
                <img [src]="form.get(question.key).value">
               
              </ion-avatar>

              <ion-avatar *ngIf="fileChanged">
                <img  [src]="imgURL">
              </ion-avatar>
              <input  
    
            [id]="question.key" [type]="question.type" (change)="onFileChange($event, question.key)" >

            </ion-item>
    
        
 
    <ion-select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
      <ion-select-option *ngFor="let opt of question.options" [value]="opt.id">{{opt.descrizione}}</ion-select-option>
    </ion-select>

  </div>

  <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
</div>
