<ion-app [class.dark-theme]="dark">
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content" >
      <ion-content>
        <ion-list *ngIf="!loggedIn" lines="none">
            <ion-list-header>
              Account
            </ion-list-header>

            <ion-menu-toggle autoHide="false">
              <ion-item routerLink="/login" routerLinkActive="selected" routerDirection="root" detail="false">
                <ion-icon slot="start" name="log-in"></ion-icon>
                <ion-label>
                  Login
                </ion-label>
              </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle autoHide="false" *ngIf="false">
              <ion-item routerLink="/support" routerLinkActive="selected" routerDirection="root" detail="false">
                <ion-icon slot="start" name="help"></ion-icon>
                <ion-label>
                  Support
                </ion-label>
              </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle autoHide="false">
              <ion-item routerLink="/signup" routerLinkActive="selected" routerDirection="root" detail="false">
                <ion-icon slot="start" name="person-add"></ion-icon>
                <ion-label>
                  Signup
                </ion-label>
              </ion-item>
            </ion-menu-toggle>

            <!--
            <ion-item>
              <ion-icon slot="start" name="moon-outline"></ion-icon>
              <ion-label>
                Dark Mode
              </ion-label>
              <ion-toggle [(ngModel)]="dark"></ion-toggle>
            </ion-item>
            -->
          </ion-list>



        <ion-list *ngIf="loggedIn" lines="none">

          <ion-list-header>
            Account
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/account" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                Account
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle *ngIf="false" autoHide="false">
            <ion-item routerLink="/support" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>
                Support
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="logout()" detail="false">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/customize" routerLinkActive="selected" detail="false">
              <ion-icon slot="start" name="color-palette"></ion-icon>
              <ion-label>
                Personalizza
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <ion-list lines="none" *ngIf="user?.user?.roles[0] =='Publisher'">
            <ion-list-header>
              Publisher
            </ion-list-header>
            <ion-menu-toggle autoHide="false">
                <ion-item routerLinkActive="selected" [routerLink]="'/publisher-dashboard'"  [routerLinkActiveOptions]="{exact: true}" routerDirection="root" detail="false">
                    <ion-icon slot="start" name="grid-outline"></ion-icon>
                    <ion-label>
                      Dashboard
                    </ion-label>
                  </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle autoHide="false" *ngFor="let p of appPagesPublisher; let i = index">
              <ion-item [routerLink]="p.url" routerLinkActive="selected" routerDirection="root" detail="false">
                <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>

            </ion-menu-toggle>
          </ion-list>

          <ion-list lines="none" *ngIf="user?.user?.roles[0] =='Admin'">
            <ion-list-header>
              Amministrazione
            </ion-list-header>
            <ion-menu-toggle autoHide="false">
            <ion-item [routerLink]="'/admin-dashboard'" routerLinkActive="selected"[routerLinkActiveOptions]="{exact: true}" routerDirection="root" detail="false">
                <ion-icon slot="start" name="grid-outline"></ion-icon>
                <ion-label>
                    Dashboard
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle autoHide="false" *ngFor="let p of appPagesAdmin; let i = index">


              <ion-item [routerLink]="p.url" routerLinkActive="selected" routerDirection="root" detail="false">
                <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>

            </ion-menu-toggle>
          </ion-list>




<!-- TODO
        <ion-list lines="none">
          <ion-list-header>
            Tutorial
          </ion-list-header>
          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="openTutorial()" detail="false">
              <ion-icon slot="start" name="hammer"></ion-icon>
              <ion-label>Show Tutorial</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        -->
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>

</ion-app>
