.favouriteIco{
    right: 0em;
    position: absolute;
}


.inOffert{
    position: absolute;
    right: 1em;
    top: 0.5em;
}
  
.imgUpload{
    height: 18em;
    width: auto;
}

.toolbarAdjustment{
    padding-left: 0.5em;
    padding-right: 1.5em;
}

.textOfferNo{
    text-decoration: line-through;
  
}

.inOffertPost {
    border: 3px solid var(--ion-color-primary)
 }
