<cfe-header [title]="'Richieste Registrazioni'"></cfe-header>
<ion-content [color]='colorService.selectedTheme'>
  <div class="back-image"
    [ngStyle]="{'background': 'url(' + colorService.selectedImageUrl + ') no-repeat 0 0 / cover '}">
    <ion-list *ngIf="publisherList.length>0" [color]='colorService.selectedTheme'>
      <ion-item *ngFor="let publisher of publisherList" >
        <ion-label>{{publisher.businessname}}</ion-label>
        <ion-icon routerLink="publisher/{{publisher.id}}" name="eye-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-list>

    <span *ngIf="publisherList.length==0">
      <ion-row style="margin-top:15px;">
        <ion-col style="text-align:center;">Nessuna richiesta da visualizzare</ion-col>
      </ion-row>
      <ion-row style="display:flex;justify-content:center;">
        <img src="assets/img/Nodata.png" alt="img" />
      </ion-row>
    </span>
    <cfe-pagination *ngIf="nextNumber" (onNext)="moreItem($event)" [numberNextItem]="nextNumber"></cfe-pagination>
  </div>
</ion-content>